// firestore.rules
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Rules for 'users' collection
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Rules for 'trainingDays' collection
    match /trainingDays/{dayId} {
      allow read: if request.auth != null; // Or more specific if needed
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.createdByUid;
    }

    // Rules for 'backlogWorkouts' collection
    match /backlogWorkouts/{workoutId} {
      // Allows any authenticated user to read all backlog workouts
      allow read: if request.auth != null; 
      
      // Allows any authenticated user to create backlog workouts
      // (and the hook sets 'createdByUid')
      allow create: if request.auth != null; 
      
      // Allows a user to update or delete a workout only if their UID matches 'createdByUid'
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.createdByUid;
    }

        // Rules for 'appImprovements' collection
    match /appImprovements/{improvementId} {
      // Allows any authenticated user to read all appImprovements
      allow read: if request.auth != null; 
      
      // Allows any authenticated user to create appImprovements
      allow create: if request.auth != null; 
      
      // Allows a user to update or delete a appImprovements
      allow update, delete: if request.auth != null;
    }
  }
}